* {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    color: black;
}

/* to style the placeholder text inside of the search bars
citation: http://stackoverflow.com/questions/2610497/
change-an-html5-inputs-placeholder-color-with-css */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgb(150,150,150);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgb(150,150,150);
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgb(150,150,150);
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(150,150,150);
}

a {
    text-decoration: none;
}

.black {
    background-color: black;
    color: white;
}

.blackGrey {
    background-color: #404040;
    color: white;
}

.brightGreen {
    background-color: #00FF00;
    color: black;
}

.brightRed {
    background-color: #FF0000;
    color: black;
}

.centerMe {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
}

.darkGreen {
    background-color: #006400;
    color: white;
}

.darkRed {
    background-color: #8B0000;
    color: white;
}

#footer {
    width: 100vw;
    margin-left: -5vw;
    background-color: white;
    margin-top: 15vh;
}

#footerLinks {
    text-align: left;
    list-style-type: none;
    font-size: 80%;
}

#footerLinks a {
    margin-left: 5vw;
    color: black;
    text-decoration: none;
}

#footerLinks a:hover {
    cursor: pointer;
    color: rgb(40,40,40);
    transition: color 0.10s ease;
    -webkit-transition: color 0.10s ease;
}

.grey {
    background-color: #808080;
    color: white;
}

.headerNavigationLink {
    font-size: 80%;
    font-weight: normal;
    color: white;
    margin-right: 30px;
    text-decoration: none;
    color: rgb(200,200,200);
    transition: color 0.10s ease;
    -webkit-transition: color 0.10s ease;
}

.headerNavigationLink:hover {
    cursor: pointer;
    color: rgb(255,255,255);
}

/* makes its interior elements
go from left to right */
.horizontal {

    width: 25vw;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

/* makes its interior elements
go from left to right, and centers
the interior elements from left to
right */
.horizontalCenter {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#interior {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

#logoButton {
    background-color: #4286f4;
    font-size: 170%;
    font-family: Tahoma, sans-serif;
    text-decoration: none;
    border:none;
    color: white;
    margin-left: 1.5vw;
    margin-top: 1vh;
    height: 5.5vh;
}

#logoButton:hover {
    cursor: pointer;
}

.marginTop50 {
    margin-top: 50px;
}

.marginTop100 {
    margin-top: 100px;
}

.marginTop150 {
    margin-top: 150px;
}

.marginTop200 {
    margin-top: 200px;
}

.marginTop300 {
    margin-top: 300px;
}

.marginTop400 {
    margin-top: 400px;
}

.marginTop500 {
    margin-top: 500px;
}

.navButton {
    color: white;
    background-color: #4286f4;
    width: 10vw;
    height: 7vh;
    border: none;
    margin-top: 0px;
    font-size: 105%;
    font-weight: bold;
}

.navButton:hover {
    cursor: pointer;
    color: rgb(200,200,200);
    transition: color 0.10s ease;
    -webkit-transition: color 0.10s ease;
}


#page {

}

#pageHeader {
    width: 900px;
    margin-top: 15px;
}

.spacer10 {
    display: block;
    clear: both;
    min-height: 10px;
    height: 1vh;
}

.spacer25 {
    display: block;
    clear: both;
    height: 3vh;
}

.spacer50 {
    display: block;
    clear: both;
    height: 6vh;
}

.spacer100 {
    display: block;
    clear: both;
    height: 12vh;
}

.spacer150 {
    display: block;
    clear: both;
    height: 18vh;
}

.spacer200 {
    display: block;
    clear: both;
    height: 24vh;
}

.underline {
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

/* makes its interior elements
go from top to bottom */
.vertical {
    display: flex;
    flex-direction: column;
}

.verticalCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.whiteWithBorder {
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
}

.white {
    background-color: white;
    color: black;
}

.whiteGrey {
    background-color: #bfbfbf;
    color: black;
}