* { 
    margin: 0px;
    border: 0px;
}


.black {
    background-color: black;
}

/* imported from dynamic
cant use, clobbers other's css 
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(0,0,0); /* black */
   /* color: white;
    width: 100%;
    display: flex;
    justify-content: center;
} */


.brightGreen {
    background-color: #00FF00;
}

.brightRed {
    background-color: #FF0000;
}

.darkGreen {
    background-color: #006400;
}

.darkRed {
    background-color: #8B0000;
}


#indexHeader {   
    width: 1100px;
    margin-top: 5px;
}

/*li {
    color: red;
} */


#page {
    display: flex;
    flex-direction: column;
}


#searchBarDecoration {
    width: 40px;
    height: 40px;
}

#searchBarDecorationWrapper {
    background-color: white;
    width: 49px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -49px;
    z-index: 1000;
}

#searchBarInput li {
    color: red;
}

.searchResultButton {
    height: 50px;
    width: 70px;
    color: white;
    background-color: black;
    border: 0px;
}

.searchResultButton:hover {
    cursor: pointer;
    cursor: hand;
}

.searchResultButtonImage {
    height: 40px;
    width: 40px;
    color: white;
}

.securityCell {
    font-weight: normal;
    width: 70px;
    height: 60px;
    border: 0px;
    border-collapse: collapse;
    border: 10px solid black;
}

.securityTableHeader {
    height: 60px;
    padding-bottom: 10px;
    border: 0px;

}

.securityCellCompanyName {
    width: 100px;
    height: 60px;
    padding-right: 10px;
    border: 0px;
    border-left: 10px;
    border-top: 10px;
    border-bottom: 10px;
    font-weight: normal;
}

.securityCellCompanyName a {
    text-decoration: none;
    color: rgb(220, 220, 220); /* light gray */
}

.securityCellCompanyName a:hover {
    color: rgb(180, 180, 180); /* medium-light gray */
}

.securityTableHeader {
    height: 60px;
    padding-bottom: 10px;
    border: 0px;

}

.securityTableHeader td {
    color: rgb(220, 220, 220); /* light gray */ 
}
   
.underline {
    text-decoration: underline;
}

/*table, th, td {
    border: 1px solid red;
    font-family: Arial;
    font-size: 18px;

}*/


/* below this line: migrated from dynamic.css */

#alignSearchAndHeatmap {
    width: 100%;
    height: 800px;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
}

/*#breadcrumbs */
#breadCrumbs {
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
}


#companies {
    display: table;
}

#companies th {
    width: 150px;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

#companies td {
    width: 150px;
    height: 100px;
    border-style: none;
}


#heatmapContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.hoverlink:hover {
    color: yellow;
    background-color: rgb(30,30,20); /* new craig */
    cursor: pointer;
    cursor: hand;
}

#industries {
  display: table;
}

#marketCrumb, #sectorCrumb, #industryCrumb {
    color: yellow;
}


/** Tooltip code - taken from https://www.w3schools.com/howto/howto_js_popup.asp **/
/* Popup container */
.popup {
/*    position: relative;
    display: inline-block;
    cursor: pointer;*/
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    display: none;
/*    width: 250px;*/
    background-color: white;
    color: black;
    text-align: center;
    border-color: yellow;
    border-style: solid;
    border-width: 5px;
    border-radius: 6px;
    padding: 8px 0;
    position: relative;
    z-index: 10;
    bottom: 10%;
    left: 40%;
    margin-left: -125px;
    margin-top: -45px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: yellow transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    display: block;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

#searchArea {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#searchLabel {
    font-family: Arial, sans-serif;
    color: white;
}

#search {
    font-family: Arial, sans-serif;
}

#sectors {
   display: table;
}

#selectedNavigationLink {
    text-decoration: underline;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}



/* code below this line adapted from dynamic.css */
.exploreHeatMapTH {/* new craig for heatmap */
    font-weight: normal;
}

.exploreTD1 a {
    text-decoration: none;
    color: white;
    width: 170px; /* 200px */
    height: 90px; /* 100px */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* new craig */
}

.exploreTH1 a {
    text-decoration: none;
    color: white;
    width: 170px; /* 200px */
    height: 90px; /* 100px */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* */
.exploreTD2 {
    width: 50px;
    border: 10px solid black;
}

/* */
.exploreTH2 {
    width: 50px;
    border: 10px solid black;
}


/* code below this line is new */

.breadCrumb {
    font-size: 105%;
}


.hoverlink {
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}

#preferencesSection, #slidersDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ui-slider-range {

}

.ui-slider-handle, #custom-handle1, #custom-handle2, #custom-handle3, #custom-handle4 {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}
