#searchSection {
    width: 100%;
    min-height: 150px; 
    background-color: black; 
    /*margin-left: 200px; */
}

#exploreSection {
    display: none;
    width: 100%; 
    min-height: 150px; 
    background-color: gray; 
    /*margin-left: 200px; */
}

.floatLeft {
    float:left;
}

.floatRight {
    float:right;
}

#headerNavigationLink1 {
    font-family: Arial, sans-serif;
}

#headerNavigationLink2 {
    font-family: Arial, sans-serif;
    text-decoration: underline;
}

/* makes its interior elements
go from left to right, and centers
the interior elements from left to 
right */
.horizontalCenter {
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

#searchBarWrapper {
    margin-top: 100px;
}

#searchBarInput {
    width: 550px;
    height: 50px;
    border: none;
    font-size: 140%;
    padding-left: 10px;
    color: black;
}

#searchBarDecoration {
    width: 40px;
    height: 40px;
}

#searchBarDecorationWrapper {
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#spaHeader {   
    width: 1100px;
}


/*#header {   
    width: 1100px;
    color: white;
    margin: 10px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
} */

.navButton {
    /*color: white; */
    color: rgb(200,200,200); /* light gray */
    background-color:black;
    width: 100px;
    height: 50px;
    border: none;
    margin-top: -7px;
    font-size: 105%;
}

.navButton:hover {
    cursor: pointer;
    color: rgb(255,255,255);
    transition: color 0.10s ease;
    -webkit-transition: color 0.10s ease;
}

li {
    color: red;
}
