* {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    color: black;
}

.aboutContentDiv {
    margin-bottom: 15px;
    text-align: left;
    font-size: 100%;
    font-weight: normal;
}

#aboutPageTitle {
    color: black;
    font-size: 170%;
}

#alignLeft {
    justify-content: flex-end;
}

/* Source: W3Schools tutorial on back to top button */
#backToTop {
    font-size: 120%;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #4286f4; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

/* Source: W3Schools tutorial on back to top button */
#backToTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

#bannerImage {
    height: 380px;
}

#bannerImageWrapper {
    margin-top:20px;
}

body {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.centerMe {
    display: flex;
    justify-content: center;
    text-align: center;
}

#footerHomePageLinks {
    margin: 15px;
    list-style-type: none;
}

#footerHomePageLinks a {
    color: rgb(200,200,200);
    text-decoration: none;
}

#footerHomePageLinks a:hover {
    cursor: pointer;
    color: rgb(240,240,240);
    transition: color 0.10s ease;
    -webkit-transition: color 0.10s ease;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

#header1 {
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

#header2 {
    color: white;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

/* makes its interior elements
go from left to right */
.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* makes its interior elements
go from left to right, and centers
the interior elements from left to
right */
.horizontalCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#interior {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#largeCaption {
    margin-top: 100px;
    margin-bottom: 120px;
}

#largeCaption p {
    font-size: 300%;
    color: rgb(170,170,170);
    letter-spacing: 2px;
}

#logo {
    color: black;
    font-size: 120%;
}

.longText {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    color: black;
}

.messageBox {
    min-width: 270px;
    min-height: 270px;
    width: 270px;
    height: 270px;
    background-color: rgb(40,40,40); /* almost black */
    color: rgb(220,220,220);
    margin: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.messageBox:hover {
    background-color: rgb(20,20,20); /* almost black */
    transition: background-color 0.15s ease;
    -webkit-transition: background-color 0.15s ease;
    cursor: pointer;
}

.messageBoxCaption {
    font-size: 200%;
    font-family: Tahoma, sans-serif;
    color: rgb(170,170,170);
}

.messageBoxIcon {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
}

.messageBoxLink {
    text-decoration: none;
}

.messageBoxParagraph {
    font-size: 80%;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.nonHoverBox {
    margin-top: 70px;
    width: 850px;
    min-height: 200px;
    background-color: white;
    color: black;
    margin-bottom: 50px;
}

#page {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#searchBarWrapper {
    margin-top: 100px;
}

#searchBarInput {
    width: 550px;
    height: 50px;
    border: none;
    font-size: 140%;
    padding-left: 10px;
    color: black;
}

#searchBarDecoration {
    width: 40px;
    height: 40px;
}

#searchBarDecorationWrapper {
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionTitle1 {
    margin-bottom: 15px;
    text-align: left;
    font-size: 150%;
}

.sectionTitle2 {
    margin-bottom: 15px;
    text-align: left;
    font-size: 110%;
}

#selectedLink {
    text-decoration: underline;
}

/* makes its interior elements
go from top to bottom */
.vertical {
    display: flex;
    flex-direction: column;
}
